{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Jogo</title>
    <link rel="stylesheet" href="{% static 'Games/css/estilo.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home-page' %}">Home-Page</a>
        {% include 'Reviews/links.html' %}
        {% include 'Games/links.html' %}
        {% include 'Seguranca/links.html' %}
    </nav>
    
    <h1>{% if object %}Atualizar Jogo{% else %}Criar um Jogo{% endif %}</h1>

    <form action="" method="POST">
        <fieldset style="width: max-content;">
            <legend>Novo Jogo</legend>
            {% csrf_token %}
            <table class='form'>
                {{ form.as_table }}
            </table>
            <button type="submit">{%if object %}Atualizar Jogo{% else %}Criar Jogo{% endif %}</button>
        </fieldset>
    </form>
</body>
</html>