{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Avaliações</title>
    <link rel="stylesheet" href="{% static 'Games/css/estilo.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home-page' %}">Home-Page</a>
        {% include 'Reviews/links.html' %}
        {% include 'Games/links.html' %}
        {% include 'Seguranca/links.html' %}
    </nav>
    
    <h1>Minhas Avaliações</h1>
    
    <table>
        <tr>
            <th>Título</th>
            <th>Nota</th>
            <th>Comentário</th>
            <th>Data</th>
            <th>Ação</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <td>{{ review.game.title }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.created_at|date:"d/m/Y H:i" }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'Reviews:atualiza-review' pk=review.id %}">Editar</a> |
                    <a class="btn btn-danger" href="{% url 'Reviews:deleta-review' pk=review.id %}">Excluir</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <th colspan="5">Nenhuma avaliação cadastrada</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>